altgraph==0.17.2
cffi==1.15.0
cryptography==36.0.2
future==0.18.2
pefile==2021.9.3
proxy-tools==0.1.0
py-enigma==0.1
pycparser==2.21
pyinstaller==4.10
pyinstaller-hooks-contrib==2022.3
PyPDF2==1.26.0
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
PyQtWebEngine==5.15.5
PyQtWebEngine-Qt5==5.15.2
PySide2==5.15.2.1
pythonnet==3.0.0
pywebview==3.6.3
pywin32==303
pywin32-ctypes==0.2.0
shiboken2==5.15.2.1
WMI==1.5.1
